{{template "header" .}}
<h2>Editing <a href="//{{.AuthUser.Username}}.{{.Host}}/{{.FileName}}">{{.FileName}}</a></h2>
<form id="edit-form" action="/edit/{{.FileName}}" method="POST">
 <label for="rename">Rename:</label>
   <input type="text" value="{{.FileName}}" id="rename" name="rename">
   {{ if .IsText }}
   {{ if .IsGemini }}
   <p>
   <em>For help with the Gemini markup format, see the <a href="https://admin.flounder.online/gemini_text_guide.gmi">Gemtext Guide</a></em>
   </p>
   {{ end }}
   {{ if .IsGemlog }}
   <p>
   <em>For information about writing a Gemlog, see <a href="https://admin.flounder.online/gemfeed.gmi">Gemini Logs and Feeds</a></em>
   </p>
   {{ end }}
  <textarea rows="27" name="file_text" id="editor">{{.FileText}}</textarea>
  {{ end }}
  <br>
  <input type="submit" value="Save file" class="button">
  <a href="/my_site">Back</a>
  <script type="text/javascript">window.setTimeout("document.getElementById('save-message').style.display='none';", 2000); </script>
  <div id="save-message" class="alert">{{.Alert}}</div>
  <div class="warning">
    <p>
   {{ range .Warnings }}
    </p>
    {{ . }}
  {{ end }}
  </div>
</form>
{{template "footer" .}}
