{{template "header" .}}
<h1>🐟{{.Config.SiteTitle}}!</h1>
{{template "nav.html" .}}
<br>
<p>
Welcome to {{.Config.SiteTitle}}! For more information and site updates, check out the <a href="//admin.{{$.Config.Host}}">admin page</a></p>
<h2>Recently updated files:</h2>
{{ range .Files }}
<div class="indent-wrap">
  <a href="//{{.Creator}}.{{$.Config.Host}}" class='person-link'>
   {{ .Creator }}</a>
  <em>{{.TimeAgo}}</em>
  <a href="//{{.Creator}}.{{$.Config.Host}}/{{.Name}}">
   {{ .Name}}
  </a>
</div>
{{end}}
<br>
<h2>All users:</h2>
{{ range .Users}}
<a href="//{{.}}.{{$.Config.Host}}" class='person-link'>{{.}}</a>
{{end}}
<hr class="thin">
Made with <a href="https://github.com/alexwennerberg/flounder">Flounder</a>
{{template "footer" .}}
