{{template "header" .}}
<h1>My Account</h1>
{{template "nav.html" .}}
<br>
<form action="/me" method="post">
  <div>
    <label for="username">Username</label><br>
    <em >Note: renaming your account will cause links to your pages to break</em>
    <input
      id="username"
      name="username"
      size="32"
      type="text"
      value="{{.AuthUser.Username}}"
    />
  </div>
  <div>
    <label for="email">Email</label><br>
    <input id="email" name="email" size="32" type="text" value="{{.MyUser.Email}}" />
  </div>
  <div>
    <details>
      <summary><label for="domain">Custom domain</label></summary>
    <em>For more information on setting up a custom domain, see <a href="https://admin.flounder.online/custom-domains.gmi">Custom Domains</a></em>
    <input id="domain" name="domain" size="32" type="text" value="{{.MyUser.Domain}}"/> 
    </details>
  </div>
  <div class="error">{{ range .Errors}}{{.}}<br>{{end}} </div>
  <div>
    <input
      class="button"
      id="submit"
      name="submit"
      type="submit"
      value="Save"
    />
  </div>
</form>
<br>
<a href="/reset-password">Reset password</a>
<p><a href="/my_site/flounder-archive.zip">🗄️ Download my site archive (.zip)</a></p>
<details>
  <summary>Delete Account</summary>
  <form action="/delete-account" method="POST">
<label for="validate-delete">Type in your username to delete your account:</label>
<input id="validate-delete" name="validate-delete" size="32" type="text" value="" />
<input
  class="button delete"
  type="submit"
  value="Delete account"
  onclick="return confirm('Are you SURE you want to delete your account and all your files?');"
/>
</details>
{{template "footer" .}}
</form>
