{{$authUser := .AuthUser.Username}}
{{template "header" .}}
<h1>Managing
  <a href="//{{.AuthUser.Username}}.{{.Config.Host}}">
    {{.AuthUser.Username}}.{{.Config.Host}}
  </a>
</h1>
{{template "nav.html" .}}
<br>
For some help building your site, check out the <a href="https://admin.flounder.online/tips_and_tricks.gmi">Tips and Tricks</a> page.
<br>
<br>
<h3>Your files:</h3>
{{ define "file" }}
<tr>
<div>
  {{ if gt (len .Children) 0 }}
  <td colspan="3">
  <details>
    <summary>
      <a href="//{{.Creator}}.{{.Host}}/{{.Name}}">{{.Name}}/</a>
    </summary>
    <table>
    {{ range .Children }}
    {{ template "file" . }}
    {{ end }}
    </table>
  </details>
  </td>
  {{ else }}
  <td>
    <a href="//{{.Creator}}.{{.Host}}/{{.Name}}">
      {{ if hasSuffix .Name  "index.gmi" }}
      <b>{{ .Name }}</b>
      {{ else }}
      {{ .Name }}
      {{ end }} </a>
  </td>
  <td>
  <a href="/edit/{{.Name}}">edit</a>
  </td>
  <td>
  <form action="/delete/{{.Name}}" method="POST" class="inline">
    <input
      class="button delete"
      type="submit"
      onclick="return confirm('Are you sure you want to delete this file?');"
      value="delete"
    />
    </form>
  {{ end }}
  </td>
</div>
</tr>
{{ end }}
<table>
{{ range .Files }}
{{ template "file" . }}
{{ end }}
</table>
<h3>Create file by name:</h3>
<noscript>Create a new page by going to /edit/[filename]</noscript>
<input type="text" id="edit_new" size=32 placeholder="e.g. newfile.gmi or folder/newfile.gmi">
<a href="#" id="create_new">Edit new file</a><br>
<script>
  var input = document.getElementById('edit_new')
  var create = document.getElementById('create_new')
  create.href = '/edit/' + input.value
  input.onchange = input.onkeyup = function () {
    create.href = '/edit/' + input.value
  }
</script>
<br />
<a href="/edit/gemlog/{{.CurrentDate}}.gmi">New Gemlog Post</a>
<br />
<br />
<form action="/upload" enctype="multipart/form-data" method="POST">
  <input type="file" id="myFile" name="file" multiple />
  <input type="submit" value="Upload file" class="button" />
</form>
<br>
{{template "footer" .}}
