{{template "header" .}}
<h1>Register</h1>
<form action="/register" method="post">
  <div>
    <label for="username">Username</label><br>
    <input
      id="username"
      name="username"
      size="27"
      type="text"
      required
      value=""
    />.{{.Config.Host}}
  </div>
  <div>
    <label for="email">Email</label> <br>
    <input id="email" name="email" size="27" type="text" required value="" />
  </div>
  <div>
    <label for="password">Password</label> <br>
    <input id="password" name="password" size="27" type="password" required value="" />
  </div>
  <div>
    <label for="password2">Repeat Password</label> <br>
    <input id="password2" name="password2" size="27" type="password" required value="" />
  </div>
  <label for="reference">How did you find {{.Config.SiteTitle}}? Did an existing user invite you, if so, whom? Could you provide a link to your website or social media?</label>
  <textarea id="reference" name="reference" class="textform" rows=4 required></textarea>
  <p>
  Your account will be approved by the admin before you can log in. I should get back to you within a day at the email you provided.
  </p>
  <div class="error">{{ range .Errors}}{{.}}<br>{{end}} </div>
  <div>
    <input
      class="button"
      id="submit"
      name="submit"
      type="submit"
      value="Join"
    />
  </div>
</form>
{{template "footer" .}}
