<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{.PageTitle }}</title>
  {{ if eq .URI.Path  "/gemlog" }}
  <link rel="alternate" type="application/atom+xml" 
    title="Atom Feed" 
      href="./atom.xml" />
  {{ end }}
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="//{{.Config.Host}}/style.css" />
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>{{.Favicon}}</text></svg>">
  </head>
  <body>
<main>
{{.SiteBody}}
<br>
<hr class="thin" \>
{{$parent := parent .URI.Path}}
{{ if ne .URI.Path "/"}}
{{ if ne $parent "/"}}
<a href="{{parent .URI.Path}}/" title="Go to the parent directory">{{parent .URI.Path}}/</a>
{{ else }}
<a href="{{parent .URI.Path}}" title="Go to the parent directory">{{.URI.Host}}/</a>
{{ end }}
<br>
<br>
{{ end }}
<div class="footer">
  <details>
    <summary>Proxy</summary>
    Proxied from the <a href="?raw=1">original</a> at <a href="{{safeGeminiURL .GeminiURI.String}}">{{.GeminiURI.String}}</a>  
    <br>
    <a href="https://admin.flounder.online/gemini.gmi">About Gemini</a><br>
  <a href="https://{{.Config.Host}}">Hosted on {{.Config.SiteTitle}}</a></div> 
  </details>
</main>
</body>
</html>
